*{
    margin: 0;
    padding: 0;
    background-color: cornsilk
}

#Name{
    color: navy;
    background-color: aqua;
    padding: px;
    /* font-size: 20px; */
    
}

#profile_photo{
   height: 50px;
   border-radius: 50%;
   margin: 0px;
    padding: 0px;
}

.xyz{
    height: 200px;
    width: 200px;
    margin: 5px;
    padding: 0px;
    background-color:green;
    display: inline-block;
}






a{
    color: black;
    text-decoration: none;

}